* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    padding: 6px;
    background-color: #fbd301;
    display: flex;
    justify-content: space-between;
    /*flex-direction: column;*/
    position: relative;
}
header img {
    width: 100px;
}
header button {
    width: 46px;
    background-color: #fbd301;
    border: none;
}
button img {
    width: 100%;
    border: none;
}
.cartul {
    position: absolute;
    top: 114px;
    left: 0;
    /* right: 0; */
    /* bottom: 0px; */
    padding: 0;
    width: 100%;
    background-color: #fbd301;
    max-height: 400px;
    overflow: auto;
    /* height: 300px; */
    /* width: 100%; */
    list-style: none;
    z-index: 1;
}
.cartul li {
    background-color: #fbd301;
}

/*header div  {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}*/

ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
}
ul head {

}

li img {
    width: 220px;
}
li {
    background-color: #dfd9d9;
    padding: 24px;
    display: flex;
    /*align-items: center;*/
    justify-content: space-around;
    gap: 24px;
    align-items: center;
}
div {
    font-weight: 100;
    font-size: 24px;
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 28px;
    position: relative;
    top: -24px;
}
div div {
    flex-direction: row;
    align-items: center;
    position: relative;
    top: 24px;
}
div div div {
    flex-direction: column;
    gap: 0;
    align-items: center;
    position: relative;
}
div div button {
    position: relative;

    align-items: center;
    top: 24px;
}
fieldset img {
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    padding: 2px;
}



/*li div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    width: 700px;
    width: 40%;
}*/
/*li div p {
    position: relative;
    top: -64px;
}*/


/*.cartul {
    position: absolute;
    top: 114px;
    left: 0;
    //right: 0;
    //bottom: 0px;
    padding: 0;
    width: 100%;
    background-color: #fbd301;
    max-height: 400px;
    overflow: auto;
    //height: 300px;
    //width: 100%;
    list-style: none;
    z-index: 1;
}
.cartul li {
    background-color: #fbd301;
}
